<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Binar Car Rental</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./owlcarousel/owl.carousel.css">
    <link rel="stylesheet" href="./owlcarousel/owl.theme.default.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>

<body id="home">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#home">
                <div class="brand">
                </div>
            </a>

            <button class="navbar-toggler" type="button" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#ourservice">Our Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#whyus">Why Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonial">Testimonial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- offcanvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">BCR</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#ourservice">Our Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#whyus">Why Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#testimonial">Testimonial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success" href="#">Register</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- main section -->
    <section class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7 text-main-section">
                    <h1 class="fw-bold mt-5">Sewa & Rental Mobil Terbaik di Kawasan <a
                            href="https://goo.gl/maps/XNMzVTkV5tVSJKWa9"
                            style="text-decoration: none; color:black;">Karawang</a></h1>
                    <p class="fs-5 mt-5 text-description">
                        Selamat datang di Binar Car Rental. Kami menyediakan mobil kualitas terbaik dengan harga
                        terjangkau. Selalu siap melayani kebutuhanmu untuk sewa mobil selama 24 jam.
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <div class="button-hero mb-5">
                            <a href="cari-mobil" class="btn btn-success">Mulai Sewa Mobil </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mobile-main-section">
                    <div class="main-section-bg-img">
                        <div class="bg-color-main-section">
                            <img src="images/main-section.png" class="img-fluid img-main-section float-start mt-5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- our service -->
    <section id="ourservice" class="mt-5">
        <div class="container">
            <div class="row mt-4 our-service">
                <div class="col-md-6">
                    <img src="images/our-service.png" alt="">
                </div>
                <div class="col-md-6 mt-5">
                    <h2>Best Car Rental for any kind of trip in <a href="https://goo.gl/maps/XNMzVTkV5tVSJKWa9"
                            style="text-decoration: none; color:black;">Karawang</a></h2>
                    <p>Sewa mobil di <a href="https://goo.gl/maps/XNMzVTkV5tVSJKWa9"
                            style="text-decoration: none; color:black;">lokasimu</a> bersama Binar Car Rental jaminan
                        harga lebih murah dibandingkan yang
                        lain, kondisi mobil baru, serta kualitas pelayanan terbaik untuk perjalanan wisata, bisnis,
                        wedding, meeting, dll.</p>
                    <ul>
                        <li class="li-our-service">Sewa Mobil Dengan Supir di Bali 12 Jam.</li>
                        <li class="li-our-service">Sewa Mobil Lepas Kunci di Bali 24 Jam.</li>
                        <li class="li-our-service">Sewa Mobil Jangka Panjang Bulanan.
                        </li>
                        <li class="li-our-service">Gratis Antar - Jemput Mobil di Bandara.</li>
                        <li class="li-our-service">Layanan Airport Transfer / Drop In Out</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- why us -->
    <section id="whyus" class="mt-5">
        <div class="container">
            <div class="row px-3">
                <h2>Why Us?</h2>
                <p>Mengapa harus pilih Binar Car Rental?</p>
                <div class="col-sm-3 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="images/icon_complete.png" width="32" height="32" class="mb-2">
                            <h6 class="card-title mb-3">Mobil Lengkap</h6>
                            <p class="card-text">Tersedia banyak pilihan mobil, kondisi masih baru, bersih dan terawat.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="images/icon_price.png" width="32" height="32" class="mb-2">
                            <h6 class="card-title mb-3">Harga Murah</h6>
                            <p class="card-text">Harga murah dan bersaing, bisa bandingkan harga kami dengan rental
                                mobil lain.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="images/icon_24hrs.png" width="32" height="32" class="mb-2">
                            <h6 class="card-title mb-3">Layanan 24 Jam</h6>
                            <p class="card-text">Siap melayani kebutuhan Anda selama 24 jam nonstop. Kami juga tersedia
                                di akhir minggu.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="images/icon_professional.png" width="32" height="32" class="mb-2">
                            <h6 class="card-title mb-3">Sopir Profesional</h6>
                            <p class="card-text">Sopir yang profesional, berpengalaman, jujur, ramah dan selalu tepat
                                waktu.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- testimonial -->
    <section id="testimonial">
        <div class="container-fluid">
            <div class="row justify-content-center mt-5">
                <div class="col-md-6 col-12">
                    <div class="testimonial-heading text-center">
                        <h2>Testimonial</h2>
                        <p>Berbagai review positif dari para pelanggan kami.</p>
                    </div>
                </div>
            </div>
            <div class="row section-testimonial">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="card-testimonial row">
                                <div class="col-lg-3 col-12">
                                    <img class="img-testimonial" src="images/testimonial2.png" alt="">
                                </div>
                                <div class="col-9 mt-5 rating-description">
                                    <div class="star">
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                    </div>
                                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod
                                        lorem ipsum
                                        dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed
                                        do eiusmod”
                                    </p>
                                    <p><b>John Dee 32, Bromo</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card-testimonial row">
                                <div class="col-lg-3 col-12">
                                    <img class="img-testimonial" src="images/testimonial1.png" alt="">
                                </div>
                                <div class="col-9 mt-5 rating-description">
                                    <div class="star">
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                    </div>
                                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod
                                        lorem ipsum
                                        dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed
                                        do eiusmod”
                                    </p>
                                    <p><b>John Dee 32, Bromo</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card-testimonial row">
                                <div class="col-lg-3 col-12">
                                    <img class="img-testimonial" src="images/testimonial2.png" alt="">
                                </div>
                                <div class="col-9 mt-5 rating-description">
                                    <div class="star">
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                    </div>
                                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod
                                        lorem ipsum
                                        dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed
                                        do eiusmod”
                                    </p>
                                    <p><b>John Dee 32, Bromo</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card-testimonial row">
                                <div class="col-lg-3 col-12">
                                    <img class="img-testimonial" src="images/testimonial1.png" alt="">
                                </div>
                                <div class="col-9 mt-5 rating-description">
                                    <div class="star">
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                    </div>
                                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod
                                        lorem ipsum
                                        dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed
                                        do eiusmod”
                                    </p>
                                    <p><b>John Dee 32, Bromo</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card-testimonial row">
                                <div class="col-lg-3 col-12">
                                    <img class="img-testimonial" src="images/testimonial1.png" alt="">
                                </div>
                                <div class="col-9 mt-5 rating-description">
                                    <div class="star">
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                        <i class="bi bi-star-fill" style="color: rgb(252, 239, 66);"></i>
                                    </div>
                                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod
                                        lorem ipsum
                                        dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed
                                        do eiusmod”
                                    </p>
                                    <p><b>John Dee 32, Bromo</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- sewa mobil sekarang juga -->
    <section>
        <div class="container mt-5">
            <div class="row text-center">
                <div class="col-8">
                    <div class="banner">
                        <h1 class="banner-heading">Sewa Mobil di <a href="https://goo.gl/maps/XNMzVTkV5tVSJKWa9"
                                style="text-decoration: none; color:white;">Karawang</a> Sekarang</h1>
                        <p class="banner-description">Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit,
                            sed do
                            eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. </p>
                        <button class="btn btn-success btn-lg mt-3 mt-0">Mulai Sewa Mobil</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FAQ -->
    <section id="faq">
        <div class="container">
            <div class="row text-center mt-5">
                <div class="col-md-6 col-12">
                    <h2>Frequently Asked Question</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>

                <div class="col-md-6 col-12">
                    <div class="faq-accordion">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        Apa saja syarat yang dibutuhkan?
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Quibusdam nemo non voluptatum.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                        Berapa hari minimal sewa mobil lepas
                                        kunci?
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Lorem ipsum dolor, sit amet consectetur adipisicing
                                        elit. Esse laborum repudiandae odio. Qui, libero enim? Exercitationem amet
                                        officia delectus, iste dolorum.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                        Berapa hari sebelumnya sabaiknya booking
                                        sewa mobil?
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Aspernatur sint in perferendis deleniti harum ipsam, voluptates dicta facilis! A
                                        dolorem consectetur aperiam perspiciatis corporis quidem!.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFour" aria-expanded="false"
                                        aria-controls="flush-collapseFour">
                                        Apakah
                                        Ada
                                        biaya
                                        antar-jemput?
                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Quam labore molestias repellat? Tempora quia quis sequi, suscipit expedita
                                        maiores veniam cum nostrum adipisci eum reprehenderit illum repellat, quam eius
                                        quaerat quos! Amet id repellat iste quam. Enim eius accusantium omnis?.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFive" aria-expanded="false"
                                        aria-controls="flush-collapseFive">
                                        Bagaimana jika terjadi kecelakaan?
                                    </button>
                                </h2>
                                <div id="flush-collapseFive" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Lorem ipsum dolor sit amet consectetur, adipisicing
                                        elit. Quas incidunt reprehenderit eaque saepe amet quia maiores laboriosam
                                        assumenda rerum corrupti hic ipsum sit tempora, nesciunt odit culpa nulla
                                        voluptatum sint..</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <section id="footer">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-3 col-12">
                    <p>Jalan Suroyo No. 161 Mayangan Kota Probolonggo 672000</p>
                    <p>binarcarrental@gmail.com</p>
                    <p>081-233-334-808</p>
                </div>
                <div class="col-md-3 col-12 footer-list">
                    <p>Our services</p>
                    <p>Why Us</p>
                    <p>Testimonial</p>
                    <p>FAQ</p>
                </div>
                <div class="col-md-3 col-12">
                    <p>Connect with us</p>
                    <img src="images/icon_facebook.png" width="32" height="32" alt="">
                    <img src="images/icon_instagram.png" width="32" height="32" alt="">
                    <img src="images/icon_twitter.png" width="32" height="32" alt="">
                    <img src="images/icon_mail.png" width="32" height="32" alt="">
                    <img src="images/icon_twitch.png" width="32" height="32" alt="">
                </div>
                <div class="col-md-3 col-12 mt-3">
                    <p>Copyright Binar 2022</p>
                    <div class="brand">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nama Lengkap</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Repeat Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
    <script src="./owlcarousel/owl.carousel.min.js"></script>
    <script src="./scripts/script.js"></script>
</body>

</html>